<!--
<h1>Add a task</h1>
<%= render 'form', task: @task %>

 -->

<div class="container design-form ">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <h1 class = "text-center">Add a task</h1>
      <%= render 'form', task: @task %>
    </div>
  </div>
</div>
